a :link{
    color: green;
    background-color: lightgreen;
}
a :visited{
    color: purple;
    background-color: lavender;
}
a :hover{
    color: red;
    background-color: pink;
}
a :active{
    color: orange;
    background-color: yellow;
}
nav a {
    color:blue;
}