li:nth-child(odd){
    background-color: white;
}
li:nth-child(even){
    background-color: lightgray;
}
li::before{
    content: "==>";
}
li:hover{
    cursor:pointer;
    background-color: #3d3d3d;
}
.hecha ::after{
    content:"V";
    color:green;
}
a{
    color: aquamarine;
}